/* src/global.css */
:root {
	/* Colores principales */
	--primary-color: #9ebe68;
	--secondary-color: #a3d800;
	--accent-color: #00bcd4;

	/* Tonos neutros */
	--primary-background: #2f2d2d;
	--secondary-background: #343233;
	--text-color: #ffffff;
	--muted-text: #b0b0b0;

	/* Sombras y efectos */
	--shadow-color: rgba(0, 0, 0, 0.2);

	h1 {
        margin: 0px;
        font-size: 3rem;
        font-family: PilcrowRounded-Bold;
        color: var(--primary-color);
        position: relative;
        padding-bottom: 15px;
    }
    
    /* Línea decorativa bajo el título */
    h1::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 3px;
        background-color: var(--primary-color);
    }
}
